body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(images/login.jpg);
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;

}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
}
.form-group{
    display: bzlock;
    margin-bottom: 8px;
}
.from-control {
    width: 400%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.from-btn{
    background-color: #284693;
    color: #152488;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn {
    display: inline-block;
    padding: 10px 17px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #321d87;
}
.btn:hover {
    background-color: #dbe5f1;
}